@media all and (min-width: 768px) and (max-width: 992px) {
    .red {
        order: 1;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
    .blue {
        order: 2;
        flex-basis: 75%;
    }
    .green {
        order: 4;
        flex-basis: 100%;
    }
    .violet {
        order: 5;
        flex-basis: 100%;
        align-items: center;
    }
    .pink {
        order: 3;
        flex-basis: 25%;
    }
}

@media all and (max-width: 768px) {
    .red {
        order: 1;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
    .blue {
        order: 2;
        flex-basis: 100%;
    }
    .green {
        order: 3;
        flex-basis: 100%;
    }
    .violet {
        order: 5;
        flex-basis: 100%;
        align-items: center;
    }
    .pink {
        order: 4;
        flex-basis: 100%;
    }
}